@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$bg: #ececec;
$generator-bg: white;
$padding: 1em;
$title: #ffffff;
$accent-primary: #673AB7;
$accent-secondary: rgb(13,110,253);
$text: #212121;

body { 
  background: $bg;
  text-align: center;

  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

#generator {
  background: $generator-bg;
  max-width: 25em;
  animation: fadeIn 1s ease-in-out; 
  backface-visibility: hidden;
  transition: all 0.5s;
  border: 1px solid $accent-secondary;
  border-radius: 10%;
  margin-bottom: 1em;
  margin: auto;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#title {
  color: black;
  font-style: bold;
  font-size: 2em;
  padding: $padding;
}

#rNum {
  padding: 0.8em;
  font-size: 3em;
  margin: 0;
  color: $text;
  transition: padding 0.2s;
}

#inputs, #headers {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  color: $text;
  input {
    -webkit-appearance: none;
    border: 0;
    font-size: 1.1em;
    width: 20%;
    border-bottom: 5px solid $accent-secondary;
    margin-bottom: 2em;
    background: #f0f0f0;
    padding: 0.4em;
    border-radius: 0;
    -webkit-appearance: none;
    transition: margin 0.2s;
  }
  p {
    font-size: 1em;
    color: $text;
    font-weight: 400;
  }
  #generate {

    width: 100%;
    padding: $padding 0;
    color: $title;
    font-size: 1.2em;
    margin: 0;
    display: block;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    &:hover {
      background: $accent-secondary;
    }
  }
}

button{
  width: 100%;
}

@media screen and (max-height: 30em) {
  #generator #rNum {
    padding: 0;
    padding-top: 0.1em;
  }
  #inputs input {
    margin-bottom: 1em;
  }
}
