#timeTable{
    border-style:groove;
    border-width: 8px;
    border-color: #30b166;
    background-color: #f4fff4;
    margin: auto;
}

#timeTable th{
    background-color: #30b166;
    color: white;
    min-width: 50px;
    padding: 0.5em;
    border: 1px solid white;
    border-collapse: collapse;
    border-spacing: 0;
}

#timeTable tr{
    width: 20px;
}

#timeTable td{
    padding:0.5em;
    border: 1px solid #30b166;
    border-collapse: collapse;
    border-spacing: 0;
}