
*{
  margin-top: 1em;
}

#avatar{
  width: 15em;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-left: 0.5em;
}

#idCard {
  border-style: ridge;
  border-width: 15px;
  border-color: #e2a6c7;
  background-color: #d9d9d9;
  margin: auto;
}

#info{
  padding: 0.8em;
  text-align: left;
}